@use 'src/assets/styles/colors' as colors;

#btn-back-to-products {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: colors.$CuriousBlue;
  color: colors.$White;
  font-size: 16px;
  line-height: 16px;
}

.btn-remove {
  background-color: colors.$SunsetOrange;
  border: none;
  color: colors.$White;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 16px;
  cursor: pointer;
}

.empty-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: colors.$OrangePeel;
  color: colors.$White;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.product-list-wrapper {
  margin-top: 20px;

  .total-info {
    background-color: colors.$White;
    color: colors.$Black;
    border: 2px solid colors.$FruitSalad;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
}

table.sticky-headers {
  width: 100%;

  thead tr th {
    position: sticky;
    top: 0
  }
}

.product-table-container {
  max-height: 350px;
  overflow-y: auto;

  .product-table {
    tr:nth-child(even) {
      background-color: colors.$Concrete;
    }

    tr:hover {
      background-color: colors.$Alto;
    }

    td,
    th {
      border: 1px solid colors.$Alto;
      padding: 8px;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: colors.$GreenHaze;
      color: colors.$White;
    }

  }
}

@media only screen and (max-width: 800px) {
  .product-table-container {
    max-height: 500px;

    .product-table {

      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tbody tr {
        td {
          position: relative;
          padding-left: 50%;
          white-space: normal;
          text-align: left;

          &::before {
            content: attr(data-title);
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
          }
        }
      }
    }
  }
}