@use 'src/assets/styles/colors' as colors;

.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
  justify-content: center;
  grid-gap: 10px;
  margin-top: 10px;
}

section.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter-select {
    width: 150px;
  }

  #btn-cart {
    background-color: colors.$White;
    border: 1px solid colors.$Gray;
    color: colors.$Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}