$White: white;
$Black: black;
$Gray: gray;
$FruitSalad: #4CAF50;
$GreenHaze: #04AA6D;
$CuriousBlue: #1dabd9;
$Skyblue: skyblue;
$SunsetOrange: #FD4C51;
$OrangePeel: #ff9800;
$Concrete: #f2f2f2;
$Alto: #ddd